/* Reset básico */


html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove estilos padrão de listas */
ul, ol {
  list-style: none;
}

/* Remove decoração de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Define imagens responsivas */
img {
  max-width: 100%;
  display: block;
}

/* Remove estilo nativo do botão */
button {
  cursor: pointer;
}

/* Define uma base para o root */
#root {
  height: 100%;
}

a.active{
  color: #4D96FF;
}